/* Document containing all the stylesheet for this page */
/* importing a font */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&display=swap");
/* Colors */
/* font size */
/* font family */
/* media queries */
body {
  background: url("../images/bg-image.svg") no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1rem;
}
body header .header-image-container {
  padding: 1rem;
}
body main .header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main .header-wrapper h1 {
  margin: 0;
  font-size: 2rem;
  line-height: 4.5rem;
  text-align: center;
  color: #FFFFFF;
}
@media (min-width: 640px) {
  body main .header-wrapper h1 {
    font-size: 4rem;
  }
}
@media (min-width: 1024px) {
  body main .header-wrapper h1 {
    width: 56%;
  }
}
@media (min-width: 1400px) {
  body main .header-wrapper h1 {
    width: 51%;
  }
}
@media (min-width: 1600px) {
  body main .header-wrapper h1 {
    width: 31%;
  }
}
body main .header-wrapper p {
  text-align: center;
  color: #FFFFFF;
}
@media (min-width: 640px) {
  body main .header-wrapper p {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  body main .header-wrapper p {
    width: 36%;
  }
}
@media (min-width: 1080px) {
  body main .header-wrapper p {
    width: 33%;
  }
}
@media (min-width: 1400px) {
  body main .header-wrapper p {
    width: 26%;
  }
}
@media (min-width: 1600px) {
  body main .header-wrapper p {
    width: 22%;
  }
}
body main section {
  background-color: rgba(240, 248, 255, 0.24);
  max-width: 80%;
  margin: auto;
  padding: 1.5rem;
  margin-bottom: 100px;
  border-radius: 15px;
}
@media (min-width: 1080px) {
  body main section {
    width: 61%;
  }
}
body main section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main section form .contact-wrapper-input {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  body main section form .contact-wrapper-input {
    flex-direction: row;
    gap: 30px;
  }
}
body main section form .select-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  body main section form .select-wrapper {
    flex-direction: row;
    gap: 30px;
  }
}
body main section form label {
  font-size: 0.875rem;
  color: #FFFFFF;
  margin-bottom: 10px;
}
body main section form input {
  width: 17rem;
  padding: 1.5rem;
  border: none;
  border-radius: 10px;
  margin-bottom: 15px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1rem;
  margin-bottom: 23px;
}
@media (min-width: 640px) {
  body main section form input {
    width: 30rem;
  }
}
@media (min-width: 768px) and (max-width: 820px) {
  body main section form input {
    width: 38rem;
  }
}
@media (min-width: 1024px) {
  body main section form input {
    display: block;
    width: 21.5rem;
  }
}
@media (min-width: 1080px) {
  body main section form input {
    width: 17em;
  }
}
@media (min-width: 1400px) {
  body main section form input {
    width: 23rem;
  }
}
body main section form select {
  width: 20rem;
  padding: 1.5rem;
  border: none;
  border-radius: 10px;
  margin-bottom: 15px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1rem;
}
@media (min-width: 640px) {
  body main section form select {
    width: 33rem;
  }
}
@media (min-width: 768px) and (max-width: 820px) {
  body main section form select {
    width: 41rem;
  }
}
@media (min-width: 1024px) {
  body main section form select {
    width: 24.5rem;
    display: block;
  }
}
@media (min-width: 1080px) {
  body main section form select {
    width: 20rem;
  }
}
@media (min-width: 1400px) {
  body main section form select {
    width: 26rem;
  }
}
body main section form .textarea-wrapper {
  display: flex;
  flex-direction: column;
}
body main section form textarea {
  width: 17rem;
  height: 10vh;
  border: 0;
  border-radius: 10px;
  padding: 1.5rem;
  font-weight: bold;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1rem;
  margin-bottom: 30px;
}
@media (min-width: 640px) {
  body main section form textarea {
    width: 29rem;
  }
}
@media (min-width: 768px) and (max-width: 820px) {
  body main section form textarea {
    width: 38rem;
  }
}
@media (min-width: 1024px) {
  body main section form textarea {
    width: 48rem;
  }
}
@media (min-width: 1080px) {
  body main section form textarea {
    width: 39rem;
  }
}
@media (min-width: 1400px) {
  body main section form textarea {
    width: 51rem;
    height: 25vh;
  }
}
body main section form .error-msg {
  font-size: 1rem;
  color: red;
  margin-bottom: 12px;
}
body main section form button {
  padding: 1.5rem;
  width: 20rem;
  color: #4036A9;
  border: 0;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
body main section form button:hover {
  background: #4036A9;
  color: #FFFFFF;
}
@media (min-width: 640px) {
  body main section form button {
    width: 32rem;
    padding: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 820px) {
  body main section form button {
    width: 41rem;
  }
}
@media (min-width: 1024px) {
  body main section form button {
    width: 51rem;
  }
}
@media (min-width: 1400px) {
  body main section form button {
    width: 54rem;
  }
}
body footer {
  text-align: center;
  color: #FFFFFF;
}
body footer a {
  color: #FFFFFF;
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */
